@import "tailwindcss";

@layer base {
   * {
      margin: 0;
      padding: 0;
   }
}

@theme {
   --color-light: #c4c4c4;
}

@layer utilities {
   @keyframes move {
      0% {
         left: 0%;
         opacity: 0;
         transform: rotate(180deg);
      }
      35% {
         left: 41%;
         opacity: 1;
         transform: rotate(0deg);
      }
      65% {
         left: 59%;
         opacity: 1;
         transform: rotate(0deg);
      }
      100% {
         left: 100%;
         opacity: 0;
         transform: rotate(-180deg);
      }
   }

   .animate-move {
      animation: move 2s linear infinite;
   }

   .bg-dark-pattern {
      background-color: #0a0a0a;
      background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
      background-size: 40px 40px;
   }
   
   .no-scrollbar {
      scrollbar-width: none;
      -ms-overflow-style: none;
   }
   
   .no-scrollbar::-webkit-scrollbar {
      display: none;
      scrollbar-width: none;
      -ms-overflow-style: none;
   }
}
